/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');

/* GENERAL */

html {
    background: #0f0f0f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px;
}

[class=*'col'] {
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
    color: #ffc61a;
}

h3 {
    font-size: 20px;
    letter-spacing: 15px;
}

p {
    font-size: 18px;
}

.btn {
    background: #010101;
    border-radius: 6px;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 30px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    border-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover, .features input[type='submit']:hover {
    background: #fff;
    border-color: #000;
    color: #000;
}

.element-center {
    display: flex;
    justify-content: center;
}

.overflow-hidden {
    overflow: hidden;
}

/* NAV */

nav > .container {
    display: flex;
    min-height: 100px;
}

.logo-place, .nav {
    flex: 1;
    align-items: center;
    display: flex;
}

.logo-place {
    position: relative;
    top: -12px;
}

.logo span {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.logo span:last-of-type {
    color: #daa505;
    text-transform: uppercase;
}

.nav {
    justify-content: flex-end;
    flex: 3;
    list-style-type: none;
}

nav li {
    text-transform: uppercase;
    margin-right: 15px;
}

nav li a {
    padding: 12px 20px 10px;
    display: block;
    border-radius: 17px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    transition: 0.5s;
    text-align: center;
}

nav li .active, nav li a:hover {
    background: #ffc61a;
    color: #010101;
}


/* HERO */
.hero > .container {
    text-align: center;
    min-height: 740px;
    flex-direction: column;
}

.hero h2 {
    margin-top: 65px;
}

.hero h3 {
    margin-top: 15px;
}

/* FEATURES */
.features {
    padding-top: 140px;
    position: relative;
    background: #ffc61a;
    min-height: 700px;
}

.features img {
    position: absolute;
    top: -55%;
    left: 0;
    right: 0;
    margin: auto;
}

.features h2, .features h3 {
    color: #000;
    letter-spacing: 2px;
}

.features h3 {
    font-size: 30px;
    margin-bottom: 24px;
}

.features h2 {
    font-size: 46px;
    margin-bottom: 40px;
    line-height: 1.3;
}

.features .btn {
    margin: 75px 0;
}

.features .container > .row:last-child {
    align-items: center;
}

.call-form {
    padding: 20px;
    background: #fff;
    max-width: 450px;
    margin: auto;
    height: 100%;
    box-shadow: 6px 6px 30px rgba(0,0,0,0.7);
}

.features .form-header {
    text-align: center;
    font-size: 34px;
    color: #ffc61a;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.features input[type='text'] {
    border: none;
    border-bottom: 2px solid #e4e4e4;
    width: 100%;
    margin-bottom: 15px;
}

.features label {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.features input[type='submit'] {
    display: block;
    height: 40px;
    background: #000;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    width: 100%;
    margin: 15px 10px;
    transition: 0.5s;
}

/* BLOG */
.blog {
    background: #fff;
    padding-bottom: 70px;
}

.blog .container {
    flex-direction: column;
}

.blog h2, .blog h1 {
    text-align: center;
}

.blog h2 {
    margin: 50px 0 0;
    font-size: 35px;
}

.blog h1 {
    font-size: 44px;
    color: #000;
    margin: 0 0 150px;
    position: relative;
    top: -10px;
}

.blog-offert {
    position: relative;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: #f5f4f2;
    text-align: center;
    transition: 0.4s;
}

.blog-offert:hover {
    background: #ffc544;
    cursor: default;
}

.blog-offert:hover h2 {
    color: #000;
}

.blog-offert:hover .btn {
    background: #000;
    color: #fff;
}

.blog .btn {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    background: #ffc544;
    padding: 7px 21px;
    margin-bottom: 20px;
}

.blog .btn:hover {
    border-color: #000;
    background: #fff;
    color: #000;
}

.blog img {
    position: absolute;
    transform: translateY(-170%);
}

.blog h3 {
    letter-spacing: inherit;
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
}

.blog p {
    padding: 0 25px;
}

.blog .blog-offert h2 {
    margin: 15px 0;
}

/* DETAILS */
.details {
    background: #000;
    color: #fff;
}

.details > .container, .order > .container, .clients > .container {
    display: flex;
    flex-direction: column;
}

.details h2 {
    margin-top: 80px;
    font-size: 35px;
    text-align: center;
}

.details .row .row {
    padding: 0;
}

.details h1 {
    font-size: 44px;
    margin-bottom: 80px;
    text-align: center;
}

.details h3 {
    letter-spacing: inherit;
    color: #daa505;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 15px;
}

.details p {
    margin-bottom: 30px;
}

.details .fa-background {
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    color: #000;
    line-height: 50px;
    background: #daa505;
}

.details .btn {
    margin: 30px auto;
    width: 220px;
    font-size: 18px;
    background: #daa505;
    color: #000;
    padding: 10px;
    font-weight: 900;
}

.details .btn:hover {
    background: #fff;
    border-color: #fff;
}

/* ORDER */
.order {
    background: #fff;
}

.order h2 {
    font-size: 35px;
    margin: 60px auto 0;
}

.order h1 {
    color: #000;
    font-size: 44px;
    letter-spacing: inherit;
    margin: 5px auto 25px;
}

.order h3 {
    letter-spacing: inherit;
    text-transform: inherit;
    color: #000;
    font-size: 24px;
    margin-bottom: 30px;
}

.order p {
    color: #010101;
    width: 80%;
}

.order .btn {
    margin-top: 15px;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px 15px;
    width: 90%;
}

.order img {
    position: relative;
    left: 150px;
}

/* CLIENTS */
.clients h2 {
    margin: 60px auto 0;
    font-size: 35px;
}

.clients h1 {
    margin-bottom: 80px;
    margin: 0 auto 60px;
    font-size: 44px;
}

.cloud-background {
    position: relative;
    background: #000;
    border-radius: 35px;
    padding: 45px 50px;
    margin-bottom: 60px;
}

.cloud-background p {
    color: #fff;
    margin-bottom: 25px;
}

.cloud-background .picture {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: #a4a4a5;   
}

 .clients .staff-full-name,  .clients .staff-profession {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 5px 15px;
}

.clients .staff-full-name {
    font-size: 25px;
    color: #ffc61a;
}

.cloud-left, .cloud-right {
    position: absolute;
    bottom: -30px;
    width: 0; 
    height: 0;  
}

.cloud-left {
    border-bottom: 30px solid transparent;  
    border-right: 30px solid #000; 
    right: 15%;
}

.cloud-right {
    border-bottom: 30px solid transparent;  
    border-left: 30px solid #000; 
    left: 15%;
}

/* MEDIA */
@media (max-width: 992px) {
    /* MEDIA NAV */
    nav > .container {
        max-height: 100vh;
        flex-direction: column;
    }
    
    nav li {
        margin-right: 0;
    }
    
    nav li a {
        margin: 0 0 10px;
        padding: 12px 50px;   
    }
    
    .nav {
        justify-content: flex-start;
        flex-direction: column;
        flex: 5;
    }
    
    .logo-place {
        margin: 20px 0;
        justify-content: center;
        top: 0;
    }
    /* MEDIA HERO */
    .hero > .container {
        min-height: auto;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero h1 {
       font-size: 40px; 
    }
    
    .hero h2 {
        margin-top: 0;
        font-size: 18px;
    }

    .hero h3 {
        margin-top: 25px;
        font-size: 14px;
        letter-spacing: 6px;
    }
    
    /* MEDIA FEATURES */
    .features img {
        display: none;
    }
}