/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');

/* GENERAL */

html {
    font-size: 10px;
    background: #0f0f0f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

h1 {
    font-size: 7.2rem;
}

h2 {
    font-size: 3.6rem;
    color: #ffc61a;
}

h3 {
    font-size: 20px;
    letter-spacing: 1.5rem;
}

p {
    font-size: 1.8rem;
}

.btn {
    background: #010101;
    border-radius: 6px;
    font-size: 3rem;
    font-weight: 700;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    border-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background: #fff;
    border-color: #000;
    color: #000;
}

.col {
    margin: 0 1rem;
    flex: 1;
}

/* NAV */

nav > .container {
    display: flex;
    min-height: 10rem;
}

.logo-place, .nav {
    flex: 1;
    align-items: center;
    display: flex;
}

.logo-place {
    position: relative;
    top: -1.2rem;
}

.logo span {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.logo span:last-of-type {
    color: #daa505;
    text-transform: uppercase;
}

.nav {
    justify-content: flex-end;
    flex: 3;
    list-style-type: none;
}

nav li {
    text-transform: uppercase;
    margin-right: 1.5rem;
}

nav li a {
    padding: 1.2rem 2rem 1rem;
    display: block;
    border-radius: 1.7rem;
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
    transition: 0.5s;
    text-align: center;
}

nav li .active, nav li a:hover {
    background: #ffc61a;
    color: #010101;
}


/* HERO */
.hero > .container {
    text-align: center;
    min-height: 74rem;
    flex-direction: column;
}

.hero h2 {
    margin-top: 6.5rem;
}

.hero h3 {
    margin-top: 1.5rem;
}

/* FEATURES */
.features {
    padding-top: 14rem;
    position: relative;
    background: #ffc61a;
    min-height: 70rem;
}

.features img {
    position: absolute;
    top: -55%;
    left: 0;
    right: 0;
    margin: auto;
}

.features h2, .features h3 {
    color: #000;
    letter-spacing: 0.2rem;
}

.features h3 {
    font-size: 3rem;
    margin-bottom: 2.4rem;
}

.features h2 {
    font-size: 4.6rem;
    margin-bottom: 4rem;
    line-height: 1.3;
}

.features .btn {
    margin-top: 7.5rem;
}

/* MEDIA */
@media (max-width: 992px) {
    /* MEDIA NAV */
    nav > .container {
        max-height: 100vh;
        flex-direction: column;
    }
    
    nav li {
        margin-right: 0;
    }
    
    nav li a {
        margin: 0 0 1rem;
        padding: 1.2rem 5rem;   
    }
    
    .nav {
        justify-content: flex-start;
        flex-direction: column;
        flex: 5;
    }
    
    .logo-place {
        margin: 2rem 0;
        justify-content: center;
        top: 0;
    }
    /* MEDIA HERO */
    .hero > .container {
        min-height: auto;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero h1 {
       font-size: 4rem; 
    }
    
    .hero h2 {
        margin-top: 0;
        font-size: 1.8rem;
    }

    .hero h3 {
        margin-top: 2.5rem;
        font-size: 1.4rem;
        letter-spacing: 0.6rem;
    }
    
    /* MEDIA FEATURES */
    .features img {
        display: none;
    }
}